---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Jugring Boy">
  <h1>Jugring Boy</h1>

 <div class="game-embed">
    <iframe
      src="https://jhonchaos007.github.io/Jugring/"
      scrolling="no"
      allowfullscreen
    ></iframe>
  </div>

  <p>1分間ジャグリングし続けるゲーム。
<br>爆弾が-1点、リンゴが+1点、札束が+3点。
<br>時間切れまでポイントの高いアイテムをジャグリングしよう。

​<p><span style="background-color:#00FFFF">【操作方法】</span>

<br>PC：クリックしながらマウスで横移動

​<br>スマホ：スワイプで横移動</p>
</BaseLayout>
