---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Cosmic Collector">
  <h1>飛べ！Cosmic Collector</h1>

 <div class="game-embed">
    <iframe
      src="https://jhonchaos007.github.io/cosmic-collector/"
      scrolling="no"
      allowfullscreen
    ></iframe>
  </div>

  <p>このゲームは、宇宙空間でカゴ（UFO）を操作し
<br>落ちてくる「星」を集めながら「隕石」を避けるアクションゲームです。

​<p><span style="background-color:#00FFFF">【操作方法】</span>
<br>PC：マウスを左右に動かして移動
<br>スマホ：画面をタッチして指を左右にスライドして移動

​

​<p>ルール: 黄色い星を集めるとスコアアップ。灰色の隕石に当たるとゲームオーバーです。星を集めるごとに少しずつゲームのスピードが上がります。
</BaseLayout>
