---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="飛べ！ナガサワ・アホウドリ">
  <h1>飛べ！ナガサワ・アホウドリ</h1>

 <div class="game-embed">
    <iframe
      src="https://jhonchaos007.github.io/Albatros/"
      scrolling="no"
      allowfullscreen
    ></iframe>
  </div>

  <p>右も左も分からず初めて製作したゲーム。

当時3歳の息子のために作成。

​<p><span style="background-color:#00FFFF">【操作方法】</span>※ゲーム画面クリックでフルスクリーン

<br>PC：Spaceで飛ぶ

​<br>スマホ：タップで飛ぶ</p>
</BaseLayout>
