---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Neon Horizon">
  <h1>居合道（IAI-DO）</h1>

<div class="rotate-hint">
  スマホの場合、ゲームは横画面でプレイしてください
</div>

 <div class="game-embed">
    <iframe
      src="https://jhonchaos007.github.io/Iaidou/"
      scrolling="no"
      allowfullscreen="true"
    ></iframe>
  </div>

  <p><span style="color: red;"><strong>反射神経測定ゲーム</span></strong>

​<p><span style="background-color:#00FFFF">【操作方法】</span>
<br><span style="border: 1px solid #333;"><strong>PC</span></strong>
<br><strong>開始する・斬る・再挑戦:</strong> 「クリック」


​<p><span style="border: 1px solid #333;"><strong>スマホ</span></strong>
<br><strong>画面の向き: </strong> 「横画面」でのプレイを推奨しています（縦画面時は案内が表示されます）。
<br><strong>開始する・斬る・再挑戦:</strong> 「タップ」

​

​<p><span style="background-color:#00FFFF">【ルール】</span>

<p><span style="border: 1px solid #333;"><strong>精神統一（カウントダウン）</span></strong>
<br> ゲーム開始後、3秒間のカウントダウンが始まります。

​<p><span style="border: 1px solid #333;"><strong>刹那の反応</span></strong>
<br>画面に大きく「斬」が表示された瞬間に、素早く反応してください。表示から反応までの時間が「あなたの記録」となります。

<p><span style="border: 1px solid #333;"><strong>無作法（フライング）厳禁</span></strong>
<br>「斬」が表示される前にクリック・タップをしてしまうと、修行不足（フライング）となりタイトル画面へ戻されます。

<p><span style="border: 1px solid #333;"><strong>神速を目指せ</span></strong>
<br>反応速度に応じてランク付けされます。150ms（0.15秒）を切ることができれば、まさに「神速」の達人です。

</BaseLayout>
