---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Home Run Derby">
  <h1>Home Run Derby</h1>

<div class="rotate-hint">

</div>

 <div class="game-embed">
<iframe 
  src="https://jhonchaos007.github.io/Home-Run-Derby/"
  allow="fullscreen"
  allowfullscreen
  scrolling="no"
></iframe>
  </div>

  <p><span style="color: red;"><strong>タイミング一つで伝説へ — Home Run Derby</span></strong>

​<p><span style="background-color:#00FFFF">【操作方法】</span>
<br><span style="border: 1px solid #333;"><strong>PC</span></strong>
<br><strong>スイング／開始／リトライ:</strong> 「Spaceキー または クリック」


​<p><span style="border: 1px solid #333;"><strong>スマホ</span></strong>
<br><strong>スイング／開始／リトライ:</strong> 「画面タップ」

​

​<p><span style="background-color:#00FFFF">【ルール】</span>

<p><span style="border: 1px solid #333;"><strong>全10球（＋UFOでボーナス増加あり）</span></strong>
<br> タイミングにより HOMERUN / HIT / FOUL / STRIKE / BALL が決定。

​<p><span style="border: 1px solid #333;"><strong>3連続ホームラン</span></strong>
<br>ZONE MODE（フィーバー）発動。

<p><span style="border: 1px solid #333;"><strong>ゲーム終了後</span></strong>
<br>合計ホームラン数と最大飛距離を表示。

</BaseLayout>
