---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="CREEPY BIRD NAGASAWA">
  <h1>CREEPY BIRD NAGASAWA</h1>

 <div class="game-embed">
    <iframe
      src="https://jhonchaos007.github.io/Creepybird/"
      scrolling="no"
      allowfullscreen
    ></iframe>
  </div>

  <p>ひたすら飛び交うNagasawaを叩き潰すゲーム。

冷静に自分で制作しててもキモかった。

​<p><span style="background-color:#00FFFF">【操作方法】</span>※ゲーム画面クリックでフルスクリーン

<br>PC：Spaceで叩く

​<br>スマホ：タップで叩く</p>
</BaseLayout>
