---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="LEAP BEYOND">
  <h1>LEAP BEYOND</h1>

 <div class="game-embed">
    <iframe
      src="https://jhonchaos007.github.io/Run-game/"
      scrolling="no"
      allowfullscreen
    ></iframe>
  </div>

  <p>ハードルをひたすらジャンプするゲーム。

<br>徐々にスピードが上がっていきます。
（GameOver後にスピードが戻らないことにビルド後に気づいた、、）

​<p><span style="background-color:#00FFFF">【操作方法】</span>※Start押した後、ゲーム画面クリックでフルスクリーン

<br>PC：Spaceでジャンプ

​<br>スマホ：タップでジャンプ</p>
</BaseLayout>
