---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Goodbye on Repeat">
  <h1>Goodbye on Repeat</h1>


<div style="padding:55.1% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1150126181?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Goodbye on Repeat"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>


<br>「仮初めのさよなら」がいつしか永遠の距離へと変わってしまう

<br>切なさを、繰り返し紡がれるリフレインと、

<br>静かに積み重なる情感の詩で綴った楽曲。

 <p>儚い希望と確かな虚無が交錯する中で、変わらない温度と滲む記憶が、

<br>孤独でいてどこか美しいハーモニーを奏でています。

  <br>別れの先にある、変奏する日々の静かなる情景が胸に迫ります。

</BaseLayout>
